@using STUDENT_ENTRY_MVC.Models
@model Student

<html>

    <head>
        <title>Student Create And View</title>
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>

    <body>

        <center>

        <h3 class="bg-dark text-white p-2"> Edit Form </h3>
        <div class="alert alert-danger p-0" asp-validation-summary="ModelOnly"></div>
        <form class="container" method="post" asp-action="Edit">

            <div>
            <label class="form-label" asp-for="ID">ID:</label><br/>
            <input class="form-control" asp-for="ID" readonly /><br />
            </div>

            <div>
            <label class="form-label" asp-for="Name">Name:</label><br/>
            <input class="form-control" asp-for="Name" /><br />
            <span asp-validation-for="Name"></span>
            </div>

            <div>
            <label class="form-label" asp-for="Degree">Degree:</label><br />
            <input class="form-control" asp-for="Degree" /><br />
            <span asp-validation-for="Degree"></span>
            </div>

            <div>
            <label class="form-label" asp-for="CGPA">CGPA:</label><br />
            <input class="form-control" asp-for="CGPA" /><br />
            <span asp-validation-for="CGPA"></span>
            </div>

            <div>
            <label class="form-label" asp-for="Semester">Semester:</label><br />
            <input class="form-control" asp-for="Semester" /><br />
            <span asp-validation-for="Semester"></span>
            </div>
            <br/>

            <input class="btn btn-dark" type="submit" value="Update It" />

        </form>

        </center>

    </body>

</html>