@model List<STUDENT_ENTRY_MVC.Models.Student>
@{
     Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<center>
    
<h4 class="bg-light"> Here is the Students List </h4>

<table class="table table-hover table-striped table-light">
    <thead>
        <tr>
            <th>Name</th>
            <th>Degree</th>
            <th>CGPA</th>
            <th>Semester</th>
            <th>Actions To Perform</th>
        </tr>
    </thead>

    <tbody>
        @foreach(STUDENT_ENTRY_MVC.Models.Student s in Model )
        {    
            <tr>
                <td>@s.Name</td>
                <td>@s.Degree</td>
                <td>@s.CGPA</td>
                <td>@s.Semester</td>
                <td>
                    <a class="btn btn-info " asp-action="Details" asp-route-id=@s.ID >Details</a>
                    <a class="btn btn-warning " asp-action="Edit" asp-route-id=@s.ID >Edit</a>
                    <a class="btn btn-danger " asp-action="Delete" asp-route-id=@s.ID >Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</center>