@model STUDENT_ENTRY_MVC.Models.Student
@{
     Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<center>
<h3 class="bg-light"> You have added this Information </h3>

Name:@Model.Name<br />
<br />
Degree:@Model.Degree<br />
<br />
CGPA:@Model.CGPA<br />
<br />
Semester:@Model.Semester<br />
<br />

Click <a asp-action="ShowAllStudents">here</a> to view list all students !

</center>