<html>
    <head>
        <title>Student View</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>

    <body>
        <center>
        <h3 class="bg-dark text-white p-2"> Welcome To Student Management System </h3>
        <h5 class="bg-dark text-white p-1 fixed-bottom">Made In ASP.NET</h5>
        </center>
        <Div>
            @RenderBody()
        </Div>
    </body>
</html>
