<html>
    <head>
        <title>Student View</title>
    </head>

    <body>
        <center>
        <h1> -- Welcome To Student Management System Made In ASP.NET -- </h1>
        </center>
        <Div>
            @RenderBody()
        </Div>
    </body>
</html>
